* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    /*  chuyen cho cackia cho hang doc thaong ra */
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }
  
  body > div {
    margin: auto;
  }
  
  /* ======= Buttons ======== */
  
  /* Block */
.btn
{
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding : 12px 38px;
  border-radius: 15px;
  cursor: pointer;
  min-width:120px;
  transition:  opacity 0.2s ease;
}

.btn--size-l{
  padding : 16px 56px;
}

.btn--size-s{
  padding : 8px 32px;
}

.btn:hover{
  opacity: 0.8;
}
.btn + btn {
  margin-left: 16px;
}
.btn--success
{
background-color: #71be34;
}

.btn--warm
{
background-color: #ffb703;
}

.btn--danger
{
background-color: #ff623d;
}

.btn--disabled{
  opacity: 0.5 !important;
  cursor: default;
}